@import "tailwindcss";

@theme {
  --font-display: "Epilogue", sans-serif;
  --font-body: "Hanken Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-surface: #f9f9f9;
  --color-surface-container: #eeeeee;
  --color-surface-container-high: #e8e8e8;
  --color-primary: #000000;
  --color-on-primary: #ffffff;
  --color-secondary: #5b5f62;
}

body {
  background-color: var(--color-surface);
  color: var(--color-primary);
  font-family: var(--font-body);
}
